*{margin:0;
padding: 0;}

#content{background: #EEE;}

#redBorder {

    border: 2px solid red;   
    text-align: center;   
    border-radius: 10px;   
    background: lightgray;   
    padding: 15px 32px;
    font-size: 20px;
    }

.special{font-style: italic;
color:blue;}

p{font-size: 24px;}