h1{
    color: red;
    text-align: center;
}
h3{
    color: red;
}
a:link{
    color:red
}
a:visited{
    color: violet;
}
a:hover{
    color: blue;
}


nav{
    background-color: pink;    
    text-align:center;   
    
}   
    
li{   
    display:inline-block;    
    padding:8px;  
}

.up{
    background-color: pink;
}


img{
    width: 80%;
    
}
.fruits{
    display:inline-block;
    width: 30%;
    border: 2px solid red;
    text-align: center;
    padding: 10px 10px;
    height: 400px;
}
main{
    margin: 50px;
}
