.body
{
    background:#EEE;   
}
.p
{
    font-size: 12pt;
}
.lang
{
    border:1px #AAA; 
    border-radius: 4px;
    background:#CCC; 
    padding:3px;
    display: inline-block;
    font-size: 12pt;

}