@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Artsy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/selling-handmade-goods.png?format=jpg&quality=90&v=1528140509"  class="img-fluid rounded mx-auto d-block"/>
</div>
