@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Artsy</h1>
</div>
<br />
<div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <img class="d-block w-100" src="~/images/photo1.jpeg" alt="1" />
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="~/images/photo2.jpeg" alt="2" />
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="~/images/photo3.jpeg" alt="3" />
    </div>
</div>

<script>
    var slideShow = function (container) {
        this.images = []
        this.curImage = 0;
        for (i = 0; i < container.childElementCount; i++) {
            this.images.push(container.children[i])
            this.images[i].style.display = "none"
        }

        var nextSlide = function () {
            for (var i = 0; i < this.images.length; i++) {
                this.images[i].style.display = "none"
            }
            this.images[this.curImage].style.display = "block"
            this.curImage++
            if (this.curImage >= this.images.length) {
                this.curImage = 0
            }
            window.setTimeout(nextSlide.bind(this), 3000)
        }
        nextSlide.call(this)
    }
    slideShow(document.getElementById("carouselSlidesOnly"))
</script>